
<div class="game">
  <h2 bgColorDirective>Lets play game</h2>
  <h4 appBetterHightlightDirective>Left Side:Odd Number & Right Side:Even Number</h4>
  <app-game-control (startEvent)="getCounter($event)">

  </app-game-control>
  <section class="odd">
    <app-odd  *ngFor="let counter of thisCounter" [element]="counter">
      <p *ngIf="isOdd(counter)">{{counter}}</p>
    </app-odd>
  </section>

<section class="even" >

  <app-even *ngFor="let counter of thisCounter" [element]="counter">
    <p *ngIf="!isOdd(counter)">{{counter}}</p>
  </app-even>
</section>

</div>




